{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block js %}{% load staticfiles %}<script src="{% static 'js/bindWithDelay.js' %}"></script>{% endblock %}

{% block content %}
<script>
$(function() {
  var delay = (function(){
    var timer = 0;
    return function(callback, ms){
      clearTimeout (timer);
      timer = setTimeout(callback, ms);
    };
  })();

  $('#id_username').bind('keydown', function() {
    var parent = $('#id_username').parent();
    parent.parent().removeClass('has-error');
    parent.parent().removeClass('has-success');
    parent.next().html('<i class="icon-refresh icon-spin"></i>');
  });

  $('#id_username').bindWithDelay('keydown', function() {
    var parent = $('#id_username').parent();
    var value = $('#id_username').val();
    if (value.length >= 5) {
      parent.parent().addClass('has-success');
      parent.next().html('<i class="icon-ok"></i>');
    } else {
      parent.parent().addClass('has-error');
      parent.next().html('<i class="icon-remove"></i> Username\'s length has to be at least 5 characters.');
    }
  }, 500);

  function validateEmail(email) {
      var re = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i;
      return re.test(email);
  }

  $('#id_email').bind('keydown', function() {
    var parent = $('#id_email').parent();
    parent.parent().removeClass('has-error');
    parent.parent().removeClass('has-success');
    parent.next().html('<i class="icon-refresh icon-spin"></i>');
  });

  $('#id_email').bindWithDelay('keydown', function() {
    var parent = $('#id_email').parent();
    var value = $('#id_email').val();
    if (validateEmail(value)) {
      parent.parent().addClass('has-success');
      parent.next().html('<i class="icon-ok"></i>');
    } else {
      parent.parent().addClass('has-error');
      parent.next().html('<i class="icon-remove"></i> Invalid email address.');
    }
  }, 500);


  var password2_clean = function() {
    var parent = $('#id_password2').parent();
    parent.parent().removeClass('has-error');
    parent.parent().removeClass('has-success');
    parent.next().html('<i class="icon-refresh icon-spin"></i>');
  };

  var password2_validate = function() {
    var parent = $('#id_password2').parent();
    var value = $('#id_password2').val();
    if (value == $('#id_password1').val()) {
      parent.parent().addClass('has-success');
      parent.next().html('<i class="icon-ok"></i>');
    } else {
      parent.parent().addClass('has-error');
      parent.next().html('<i class="icon-remove"></i> Doesn\'t match the previously typed password.');
    }
  };

  $('#id_password1').bind('keydown', function() {
    var parent = $('#id_password1').parent();
    parent.parent().removeClass('has-error');
    parent.parent().removeClass('has-success');
    parent.next().html('<i class="icon-refresh icon-spin"></i>');
    if ($('#id_password2').val().length > 0) {
      password2_clean();
    }
  });

  $('#id_password1').bindWithDelay('keydown', function() {
    var parent = $('#id_password1').parent();
    var value = $('#id_password1').val();
    if (value.length > 0) {
      parent.parent().addClass('has-success');
      parent.next().html('<i class="icon-ok"></i>');
    } else {
      parent.parent().addClass('has-error');
      parent.next().html('<i class="icon-remove"></i> The password must be at least 1 character long.');
    }
    if ($('#id_password2').val().length > 0) {
      password2_validate();
    }
  }, 500);

  $('#id_password2').bind('keydown', password2_clean);

  $('#id_password2').bindWithDelay('keydown', password2_validate, 500);

});
</script>
<div class="row">
  <div class="col-lg-12">
    <form action="" method="post" class="form-horizontal" id="registration">
      {% csrf_token %}
      <fieldset>
        <legend>{% trans "Signup" %}</legend>
        {% if form.non_field_errors %}
          <div class="form-group">
            <div class="col-sm-12">
            {% for error in form.non_field_errors %}
              <i class="icon-exclamation"></i> {{ error }}{% if not forloop.last %} , {% endif %}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="form-group" id="username">
          <label for="id_username" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-5">
            <input id="id_username" class="required form-control" type="text" name="username" maxlength="30" value="{{ form.username.value|default_if_none:"" }}">
          </div>
          <p id="username_errors" class="col-sm-5 help-block">
          {% for error in form.username.errors %}
            <i class="icon-exclamation"></i> {{ error }}{% if not forloop.last %} , {% endif %}
          {% endfor %}
          </p>
        </div>
        <div class="form-group" id="email">
          <label for="id_email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-5">
            <input id="id_email" class="form-control" type="email" name="email" maxlength="75" value="{{ form.email.value|default_if_none:"" }}">
          </div>
          <p id="email_errors" class="col-sm-5 help-block">
          {% for error in form.email.errors %}
            <i class="icon-exclamation"></i> {{ error }}{% if not forloop.last %} , {% endif %}
          {% endfor %}
          </p>
        </div>
        <div class="form-group" id="password1">
          <label for="id_password1" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-5">
            <input id="id_password1" class="form-control" type="password" name="password1" value="{{ form.password1.value|default_if_none:"" }}">
          </div>
          <p id="password1_errors" class="col-sm-5 help-block">
          {% for error in form.password1.errors %}
            <i class="icon-exclamation"></i> {{ error }}{% if not forloop.last %} , {% endif %}
          {% endfor %}
          </p>
        </div>
        <div class="form-group" id="password1">
          <label for="id_password2" class="col-sm-2 control-label">Repeat password</label>
          <div class="col-sm-5">
            <input id="id_password2" class="form-control" type="password" name="password2" value="{{ form.password2.value|default_if_none:"" }}">
          </div>
          <p id="password2_errors" class="col-sm-5 help-block">
          {% for error in form.password2.errors %}
            <i class="icon-exclamation"></i> {{ error }}{% if not forloop.last %} , {% endif %}
          {% endfor %}
          </p>
        </div>
        <div class="form-group" id="password1">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-5">
            <input type="submit" value="{% trans "Signup"%}" class="btn btn-primary" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
